[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.2.1"
kaggle = "*"
numpy = "==1.26.4"
python-dateutil = "==2.9.0.post0"
pytz = "==2024.1"
six = "==1.16.0"
tzdata = "==2024.1"
click = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
